html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #363636;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    margin: 0 0 70px;
}

.icons {
    padding-top: 10px;
}

.icon {
    height: 25px;
    width: 25px;
    padding-right: 4px;
}

.links {
    margin-top: -7px;
    line-height: 25px;
}

.links h4 {
    margin-bottom: 5px;
}

footer {
    position: absolute;
    height: 38px;
    bottom: 0px;
    overflow: hidden;
}